################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheBrewAuthSIIMS/.vs/TheBrewAuthSIIMS/v16
/TheBrewAuthSIIMS/.vs/TheBrewAuthSIIMS/DesignTimeBuild
